* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --btn-padding: 12px 28px;
    --btn-color: orangered;
    --btn-textcolor: white;
    --radius: 4px;
}
body::-webkit-scrollbar-track {
    background-color: grey;
  }
body::-webkit-scrollbar-thumb {
      background-color: orangered;
      border-radius: 10px;
    }  
body::-webkit-scrollbar-thumb:hover {
        background-color: darkorange; 
      }    
.logo {
    width: 65px;
    height:auto;
    align-self: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: black; 
}

.navoptions {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navoptions a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.navoptions a:hover {
    color: orangered;
}
#Reservations {
    padding: var(--btn-padding);
    border: none;
    color: var(--btn-textcolor);
    background-color: var(--btn-color);
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 18px;
}

#Reservations:hover {
    color: black;
}
.banner-section {
    position: relative;
}
.banner-video-section{
    position: relative;
}
.banner-video {
    position: relative;
    width: 100vw !important;
    object-fit: cover;
    height: 560px;
    z-index:1;
}
.banner-text {
    position: absolute;
    color: white;
    z-index:3;
    opacity: 0;
}
.banner-overlay {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}
@keyframes transform1 {
    from {
      top: 50%;
      opacity: 0;
    }
    to {
      top: 60%;
      opacity: 1;
    }
  }
  
  @keyframes visible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
 
  .banner-text1{
    top: 50%;
    left:40px;
    font-size:38px;
   
    animation: transform1 1s ease 1s 1 forwards;
}
.banner-text1 i{
    font-weight: 400;
}
.banner-text2{
    top:70%;
    left:40px;
    font-size:20px;
    animation:visible 1s ease 2s 1 forwards;
}
.banner-text3{
    top:75%;
    left:40px;
    font-size:20px;
    animation:visible 1s ease 3s 1 forwards;
}

.about-section{
    padding: 50px 10%;
    display: grid;
    grid-template-columns: 500px 1fr;
    gap:30px;
}
.about-section-img img{
    height: 500px;
    width: 500px;
    border-radius:16px;
}
.about-section-text{
    max-width: 90%;
}
.about-section-text>div{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}
.about-section-text>div p{
    font-size:20px;
    color:black;
}
.about-section-text>p:nth-of-type(1){
    font-size:48px;
    color:black;
    margin-bottom: 30px;
}
.about-section-text>p:nth-of-type(1) span{
    color: orangered;
}
.about-section-text>p:nth-of-type(2){
    font-size:28px;
    color: black;
    margin-bottom:30px;
}
.about-section-text ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
.about-section-text ul li i{
    color: orangered;
}
.about-section-text ul{
    margin-bottom: 20px;
}
#about-learn-more{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}
#about-learn-more i{
    transform: rotate(30deg);
    color: orangered;
}
@media only screen and (max-width:768px){
    .about-section{
        grid-template-columns: 300px 1fr;
        padding:50px 7%;
    }
    .about-section-img img{
        width: 300px;
    }
    .about-section-text>div p{
        font-size: 18px;
    }
    .about-section-text>p:nth-of-type(1){
        font-size: 38px;
        width: 100%;
    } 
    .about-section-text>p:nth-of-type(2){
        font-size:18px;
    }

} 
.Menu-section{
    background-color: rgba(247, 234, 209, 0.656);
    padding: 50px 10%;
    text-align: center;
    position: relative;
}
/* .Menu-section>div:nth-of-type(1){
    display: flex;
    gap:10px;
    align-items: center;
} */
.Menu-section>h2 {
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom:20px;
    font-size: 48px;
}
.Menu-section>p{
    margin-bottom:40px;
}
#viewall{
    font-size:12px;
    color:whitesmoke;
    padding: var(--btn-padding);
    border: none;
    border-radius: var(--radius);
    background-color: black;
    cursor: pointer;
    margin:0 auto;
    display: block;
}
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    margin-bottom:50px;
}

.menu::-webkit-scrollbar {
    display: none;
}
.card {
    border-radius: 8px;
    background-color: #fff;
    box-shadow:1px 1px 16px rgb(212, 212, 212);
    padding: 20px;
}
.card img {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin-bottom:10px;
}
.name-price h2{
    font-size: 14px;
    font-weight: 400;
}
.name-price p{
    color:orangered;
    font-size: 12px;
}
.name-price{
    display: flex;
    justify-content: space-between;
    padding:0 5px;
    margin-bottom:10px;
}
.card>p {
    font-size:12px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    padding: 0 2px;
    margin-bottom:24px;
    line-height: 1.5; 
    word-break: break-word;            
    text-align: left;
}
.menu-nav-buttons{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1110px;
    text-align: left;
    top: 50%;
    left:5%;
}
#prevBtn,#nextBtn{
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius:8px;
    padding:16px;
    background-color: orangered;
}
.order-now {
    color: white;
    background-color:orangered;
    padding: 8px 20px;
    border-radius: var(--radius);
    border: none;
    display: block;
    margin: 10px auto;
    font-size: 12px;
    cursor: pointer;
}  
.testimonials-section{
    padding:50px 10%;
}
.testimonials-section>div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.testimonials-section>h2{
    font-size:60px;
    font-weight: 500;
    color: black;
    width: 40%;
    margin-bottom:20px;
}
.testimonials-section>p{
    font-size: 24px;
    width:60%;
}
.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    grid-template-rows:0.7fr 0.7fr 0.7fr;
    margin-top: 80px;
    /* overflow:hidden; */
}
.testimonial{
    padding:20px;
    border-radius: 8px;
    border: 1px solid rgba(222, 219, 219, 0.662);
    background-color: rgba(222, 219, 219, 0.462);
    position: relative;
    animation: slide 0.4s ease 0.1s 1 forwards;
    visibility: hidden;
}
.testimonial{
    animation-delay: 0.1s;
}
.testimonial2{
animation-delay: 0.3s;
}
.testimonial3{
    animation-delay: 0.5s;
    }
.testimonial4{
        animation-delay: 0.7s;
        }
.testimonial5{
            animation-delay: 0.9s;
            }
@keyframes slide {
    from{
        visibility: hidden;
        transform: scale(0.5);
    }
    to{
        visibility: visible;
        transform:scale(1);
    }
}
.testimonial h2{
    font-size:16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
} 
.testimonial p:nth-of-type(1){
    font-size: 16px;
    margin-bottom:24px;
}
.testimonial p:nth-of-type(2){
    font-size: 12px;
    color:  orangered;
    justify-content: right;
    gap: 8px;
    align-items: center;
    display: flex;
}
/* testimonial responsive */
@media only screen and (max-width:768px) 
{
    .testimonials-section>h2{
        font-size:52px;
        width: 60%;
    }
    .testimonials-section>p{
        font-size:20px;
        width: 80%;
    }
    .testimonials{
        grid-template-columns: 1fr;
    } 
}
.newsletter{
    padding: 50px 10%;
    text-align: center;
    background-color: rgba(251, 197, 48, 0.403);
}
.newsletter h1{
    font-size:32px;
    color: orangered;
    font-weight: 500;
    margin-bottom: 25px;
}
.newsletter p:nth-of-type(1){
    margin-bottom: 10px;
}
.newsletter p:nth-of-type(2){
    margin-bottom: 50px;
}
.newsletter p:nth-of-type(3){
    margin-bottom:40px;
} 
#free{
    font-weight: bold;
}
.subscribe-email{
    width: 70%;
    margin: 0 15%;
    /* padding:20px; */
    /* border-radius: 48px; */
    position: relative;
}
#email-id{
    border: none;
    padding:var(--btn-padding);
    background-color: white;
    box-shadow: 1px 1px 2px inset grey;
    flex: 1;
    width:100%;
    position: relative;
    border-radius:18px;
}
#email-id:focus{
    outline: none;
    color: black;
}
#subscribe{
    color: white;
    background-color: orangered;
    padding: var(--btn-padding);
    border: none;
    width: 30%;
    position: absolute;
    left: 70%;
    top:0px;
    border-radius: 0 18px 18px 0;
}
.foot{
    background-color: rgb(46, 45, 45);
    /* padding:10px 0 0 0; */

}
.main-foot {
    display: grid;
    grid-template-columns:1fr 1fr;
    color: white;
    /* padding: 50px 5%; */
}
.address{
    background-color: rgb(40, 40, 40);
    padding:50px 5% 80px 5%;
    text-transform: uppercase;
}
.navigate-openingHours{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: rgb(26, 26, 26);
    gap:100px;
    padding:50px 5% 50px 5%;
}
.navigate{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-transform: uppercase;
}
.navigate a{
    text-transform: uppercase;
    color:white;
    text-decoration:none;
}
.navigate a:hover{
    color: grey;
}
/* Main-foot media query */
@media only screen and (max-width:768px){
    .main-foot {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        gap:50px;
        place-items: center;
    }
    .navigate-openingHours{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap:100px;
    }
}
.foot-nav{
    display: flex;
    gap:2px;
    /* margin:10px 0 30px 0; */
    justify-content: center;
}
.foot-nav a{
    text-decoration: none;
    color:white;
    font-size:14px;
}
.foot-nav a:hover{
    color: rgb(194, 193, 193);
}
.foot-nav a::after{
    content:" | ";
}
.copyright-section {
    color: white;
    text-align: right;
    background-color: rgb(0,0,0);
    margin:0 auto;
    padding: 20px 0;
}
.copyright-section div{
    text-align: center;
}
.copyright-section div:nth-child(3){
    font-size:12px;
    margin-top:10px;
}
.links i {
    color: white;
    font-size:16px;
    border:1px solid whitesmoke;
    border-radius: 50%;
    padding:10px;
}

.links a {
    font-size: 28px;
}

.links {
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top: 10px;
}
